:root {
    --popup-padding: 8px;
    --popup-width: 200px;
    --popup-innerWidth: calc(var(--popup-width) - 2 * var(var(--popup-padding)));
    --popup-header-padding: 3px;
    --popup-header-height: 32px;
    --close-button-transition-duration-opacity: 0.3s;
    --close-button-transition-duration-rotation: 0.6s;
    --close-button-transition: transform var(--close-button-transition-duration-rotation) ease, opacity var(--close-button-transition-duration-opacity) linear;
}

.w-button-normal {
    all: initial;
    display: block;
    box-shadow: inset 0.1em 0.1em 1em 0.1em #c92d1c;
    background-color: #e74c3c;
    border-radius: 6px;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 14px;
    padding: 12px 18px;
    margin: 6px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #854629;
    max-width: var(--popup-innerWidth);
}

.w-button-normal:hover {
    all: initial;
    display: block;
    box-shadow: inset 0.1em 0.1em 1em 0.1em #c92d1c;
    border-radius: 6px;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 14px;
    padding: 12px 18px;
    margin: 6px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #854629;
    background-color: #c0392b;
}

.w-highlight-instruction-window {
    all: initial;
    position: fixed;
    max-width: 300px;
    padding: 12px;
    background-color: rgba(255,165,0,0.4);
    border-radius: 6px;
    z-index: 2147483647;
    font-family: sans-serif;

}

.w-highlight-box.w-highlight-box-specifier {
    box-shadow: 0px 0px 3px 6px rgba(255, 203, 42, 1);
    border: 2px solid rgba(246, 131, 11, 0.5);
}

.w-main-popup {
    all: initial;
    top: 12px;
    left: 12px;
    display: block;
    position: fixed;
    width: var(--popup-width);
    height: 300px;
    padding: var(--popup-padding);
    background-color: rgba(255,165,0,0.7);
    border-radius: 6px;
    z-index: 2147483647;
}

.w-popup-collapsed {
    all: initial;
    top: 12px;
    left: 12px;
    width: var(--popup-width);
    height: calc(var(--popup-header-height) + 2 * var(--popup-padding));
    display: block;
    position: fixed;
    padding: var(--popup-padding);
    background-color: rgba(255,165,0,0.7);
    border-radius: 6px;
    z-index: 2147483647;
}

.w-header {
    all: initial;
    position: relative;
    display: block;
    width: var(--popup-innerWidth);
    height: var(--popup-header-height);
    padding: var(--popup-header-padding);
}

.w-close-button {
    all: initial;
    position: absolute;
    right: 0px;
    width: calc(var(--popup-header-height) - 2* var(--popup-header-padding));
    height: calc(var(--popup-header-height) - 2* var(--popup-header-padding));
    opacity: 0.3;
    cursor: pointer;
    transition: var(--close-button-transition);
}
  
.w-close-button:before, .w-close-button:after {
    all: initial;
    position: absolute;
    left: calc((var(--popup-header-height) - 2* var(--popup-header-padding)) / 2);
    content: ' ';
    height: calc(var(--popup-header-height) - 2* var(--popup-header-padding));
    width: 2px;
    background-color: #333;
    transition: var(--close-button-transition);
}
.w-close-button:before {
    transform: rotate(45deg);
}
.w-close-button:after {
    transform: rotate(-45deg);
}
.w-close-button:hover {
    opacity: 0.7;
}


.w-close-button-collapsed {
    all: initial;
    position: absolute;
    right: 0px;
    width: calc(var(--popup-header-height) - 2* var(--popup-header-padding));
    height: calc(var(--popup-header-height) - 2* var(--popup-header-padding));
    opacity: 0.3;
    cursor: pointer;
    transition: var(--close-button-transition);
}
.w-close-button-collapsed:before, .w-close-button-collapsed:after {
    position: absolute;
    left: calc((var(--popup-header-height) - 2* var(--popup-header-padding)) / 2);
    content: ' ';
    height: calc(var(--popup-header-height) - 2* var(--popup-header-padding));
    width: 2px;
    background-color: #333;
    transition: var(--close-button-transition);
}
.w-close-button-collapsed:before {
    transform: rotate(90deg);
}
.w-close-button-collapsed:after {
    transform: rotate(0deg);
}
.w-close-button-collapsed:hover {
    opacity: 0.7;
}

  
.w-popup-draggable {
    all: initial;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-radius: 6px;
    z-index: -1;
}

#w-automation-speed-slider {
    display: block;
    position: absolute;
    bottom: 6px;
    left: 6px;
    right: 6px;
    padding: 6px 6px 6px 6px;
    width: var(--popup-innerWidth);
    height: 25px;
    background: #d3d3d3;
    outline: none;
    transition: opacity .2s;
}

.w-wrong-page-redirect-button {
    all: initial;
    display: block;
    max-width: var(--popup-innerWidth);
    overflow-wrap: break-word;
    color: black;
    margin-top: 20px;
    padding: 6px;
    line-height: normal;
}

/* recording --------------------------------------------------------------*/

#w-recording-menu-container {
    all: initial;
    top: 12px;
    right: 12px;
    display: block;
    position: fixed;
    width: var(--popup-width);
    height: 300px;
    padding: var(--popup-padding);
    background-color: rgba(255,165,0,0.7);
    border-radius: 6px;
    z-index: 2147483647;
    overflow: auto;
}

#new-tutorial-container {
    display: flex;
  justify-content: space-between;

}

.element-container {
    all: initial;
    position: relative;
    width: 90%;
    margin: 6px;
    margin-top: 6px;
}

.w-button-small {
    all: initial;
    display: block;
    box-shadow: inset 0.1em 0.1em 1em 0.1em #c92d1c;
    background-color: #e74c3c;
    border-radius: 3px;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 11px;
    padding: 4px 12px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #854629;
    max-width: var(--popup-innerWidth);
}

.w-button-small:hover {
    background-color: #c0392b;
}
  
#select-action-type-select {
    position: relative;
    width: 90%;
}
  
.textarea{
    all: initial;
    height: 50px;
    padding: 5px;
    font-size: 16px;
    border-width: 1px;
    border-color: #c0392b;
    background-color: #FFFFFF;
    color: #000000;
    box-shadow: 0px 0px 2px rgba(255, 27, 27, 0.75);
}

#is-recording-switch-label {
    all: initial;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
#is-recording-switch-label input { 
    all: initial;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
#is-recording-switch-slider {
    all: initial;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}
  
#is-recording-switch-slider:before {
    all: initial;
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}
  
#record-tutorial-switch:checked + #is-recording-switch-slider {
    background-color: #2196F3;
  }
  
#record-tutorial-switch:focus + #is-recording-switch-slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
#record-tutorial-switch:checked + #is-recording-switch-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
