:root {
    --color-dark-gray: #bbbbbb;
    --color-light-gray: #efefef;
    --color-background: #fdfdfd;
    --box-shadow-light-gray: 0px 0px 8px 0px rgb(0 0 0 / 25%);
    --box-shadow-inset-gray: inset 0 0 6px 2px rgb(163, 163, 163);;

    --padding-small: 3px;
    --padding-normal: 8px;
    --padding-big: 12px;

    --border-radius-x-small: 2px;
    --border-radius-small: 3px;
    --border-radius-normal: 6px;
    --border-radius-big: 8px;
    --border-radius-x-big: 10px;

    --popup-width: 200px;
    --popup-innerWidth: calc(var(--popup-width) - 2 * var(--padding-normal));
    --popup-header-height: 32px;
    --close-button-transition-duration-opacity: 0.2s;
    --close-button-transition-duration-rotation: 0.2s;
    --close-button-transition: transform var(--close-button-transition-duration-rotation) ease, opacity var(--close-button-transition-duration-opacity) linear;

    --recording-panel-width: 380px;
    --recording-panel-height: 450px;
    --recording-panel-padding: 24px;
    --recording-panel-innner-width: calc(var(--recording-panel-width) - 2 * var(--recording-panel-padding));

    --recording-panel-advanced-width: 800px;

    --zIndexHighest: 2147483647;

}
.recording-full-width {
    width: var(--recording-panel-innner-width) !important;
}

.recording-half-width {
    width: calc(var(--recording-panel-innner-width) / 2) !important;
}

.w-highlight-instruction-window {
    all: initial;
    position: fixed;
    max-width: 400px;
    padding: var(--padding-big);
    background-color: rgba(255, 217, 103, 0.7);
    border-radius: var(--border-radius-x-big);
    border: 2px solid rgb(255, 217, 103);
    font-family: Helvetica, sans-serif !important;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .2px;
    line-height: 20px;
    z-index: 2147483645;
}

.w-highlight-box.w-highlight-box-specifier {
    box-shadow: 0px 0px 3px 6px rgba(255, 203, 42, 1);
    border: 2px solid rgba(246, 131, 11, 0.5);
    z-index: 2147483646;
}

#w-suggestion-popup {
    all: initial;
    top: 12px;
    cursor: pointer;
    display: block;
    position: fixed;
    width: var(--popup-width);
    height: 40px;
    padding: var(--padding-normal);
    box-sizing: border-box;
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 25%);
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    z-index: 2147483646;
    font-family: Helvetica, sans-serif !important;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .2px;
    line-height: 20px;
    left: -200px;
    transition: left 0.5s cubic-bezier(.19,.81,.69,.99);
}



/* MARK: Simple style popup menu */
.w-workflow-list-popup {
    all: initial;
    top: 12px;
    left: 12px;
    position: fixed;
    width: var(--popup-width);
    height: 300px;
    padding: var(--padding-small) 0;
    z-index: 2147483646;
    display: block;
    box-sizing: border-box;
    background: #ffffff;
    border-radius: 4px;
    box-shadow: var(--box-shadow-light-gray);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .2px;
    line-height: 20px;
}

.w-workflow-list-popup-normal {
    width: var(--popup-width);
    height: 300px;
    border-radius: 4px;
    transition: width 0.07s linear, height 0.1s linear;
}

.w-workflow-list-popup-collapsed {
    width: 50px;
    height: 50px;
    padding: var(--padding-normal);
    border-radius: 50px;
    transition: width 0.1s linear, height 0.07s linear;
    
}

.w-workflow-list-popup-header {
    position: relative;
    box-sizing: border-box;
    width: 100%;
}

#w-draggable-symbol-container {
    position: absolute;
    left: 6px;
    top: -6px;
    width: 12px;
    height: 12px;
    opacity: 0.5;
    cursor:grab;
}

#w-draggable-symbol-container:hover {
    opacity: 0.9;
}

.w-search-bar-container {
    position: relative;
    width: 120px;
    border-radius: 30px;
    border: 1px solid #dcdcdc;
    outline: none;
    height: 32px;
    margin: 6px 0px 8px 46px;
}

.w-search-bar-container:hover {
    box-shadow: 1px 1px 8px 1px #dcdcdc;
}

.w-search-bar-container:focus-within {
    box-shadow: 1px 1px 8px 1px #dcdcdc;
    outline: none;
}

.w-search-bar {
    all: initial;
    position: relative;
    height: 30px;
    border: none !important;
    width: 80px;
    font-size: 14px;
    outline: none !important;
    left: 12px;
}

.w-search-icon {
    height: 18px;
    position: absolute;
    top: 5px;
    right: 6px;
    cursor: pointer;
}


.w-workflow-list-popup-scroll-area {
    box-sizing: border-box;
    width: 100%;
    height: 250px;
    overflow-y: scroll;
    white-space: nowrap;
}

.w-workflow-list-cell {
    position: relative;
    display: block;
    /* font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif; */
    color: #202124;
    /* font-size: 14px; */
    align-items: center;
    cursor: pointer;
    background-color: white;
    transition: background-color 0.1s linear;
}

.w-workflow-list-cell-highlighted {
    background-color: #f2f2f2;
}

.w-workflow-list-cell-upper-container {
    box-sizing: border-box;
    display: flex;
    padding: 8px 6px 0px 0px;
    width: 100%;
}

.w-workflow-list-cell-attribute-icon {
    display: inline-block;
    width: 15%;
    align-items: center;
    text-align: center;
}

.w-workflow-list-cell-name {
    display: inline-block;
    width: 85%;
    padding-bottom: 5px;
    border-bottom: 0.5px solid #f2f2f2;
    text-align: left;
    line-height: 180%;
    letter-spacing: .2px;
    white-space: normal;
}

.w-workflow-list-cell:hover {
    background-color: #f2f2f2;
}

.w-workflow-list-cell-select-type-container {
    display: flex;
    overflow: hidden;
    list-style: none;
    border-top: 0.5px solid #e2e2e2;
}

.w-workflow-list-cell-type-button {
    position: relative;
    display: inline-block;
    flex: 1;
    padding: 6px 0px 6px 0px;
    cursor: pointer;
    align-items: center;
    text-align: center;
    line-height: 180%;
    letter-spacing: .2px;
}

.w-workflow-list-cell-type-button:hover {
    background-color: #e2e2e2;
}

.w-workflow-list-cell-type-button:active {
    background-color: #c7c7c7;
}

.w-workflow-list-cell-type-button-name {
    display: inline-block;
}

.w-more-info-icon-container {
    display: inline-block;
}

.w-more-info-icon {
    height: 12px;
}


.w-automation-choices-choice-button {
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    background-color: white;
    padding-left: 3px;
}

.w-automation-choices-choice-button:hover {
    background-color: #e2e2e2;
}

.w-automation-choices-choice-button:active {
    background-color: #c7c7c7;
}



.w-close-button {
    all: initial;
    position: absolute;
    right: 6px;
    top: 6px;
    width: 20px;
    height: 20px;
    opacity: 0.3;
    cursor: pointer;
    transition: var(--close-button-transition);
}
  
.w-close-button:before, .w-close-button:after {
    all: initial;
    position: absolute;
    left: 10px;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: #333;
    transition: var(--close-button-transition);
    cursor: pointer;
}
.w-close-button:before {
    transform: rotate(45deg);
}
.w-close-button:after {
    transform: rotate(-45deg);
}
.w-close-button:hover {
    opacity: 0.7;
}


.w-close-button-collapsed {
    all: initial;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 20px;
    height: 20px;
    opacity: 0.3;
    cursor: pointer;
    transition: var(--close-button-transition);
}
.w-close-button-collapsed:before, .w-close-button-collapsed:after {
    position: absolute;
    left: 10px;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: #333;
    transition: var(--close-button-transition);
}
.w-close-button-collapsed:before {
    transform: rotate(90deg);
}
.w-close-button-collapsed:after {
    transform: rotate(0deg);
}
.w-close-button-collapsed:hover {
    opacity: 0.7;
}

  
.w-popup-draggable {
    all: initial;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-radius: 6px;
    z-index: -100000;
    cursor: move; 
    cursor: grab;
}

.w-wrong-page-message-container {
    width: var(--popup-innerWidth);
    overflow-wrap: break-word;
    white-space: normal;
}

.w-workflow-list-popup-footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    overflow: hidden;
    list-style: none;
    border-top: 0.5px solid #e2e2e2;
    z-index: 20000000;
    background-color: white;
}

.w-workflow-list-popup-footer-cell {
    background-color: rgb(255, 201, 176);
}

.w-workflow-list-popup-footer-cell:hover {
    background-color: rgb(253, 96, 96);
}




.w-rating-stars-container {
	position: relative;
    width: fit-content;
    
    height: fit-content;
    margin: auto;
    margin-top: 30px;
    text-align: center;
    display: flex;
}
.w-rating-star-container {
	position: relative;
    width: 30px;
    height: 30px;
}
.checked {
    cursor: pointer;
	position: absolute;
    color: orange;
    left: 0px;
    top: 0px;
}
.unchecked {
    cursor: pointer;
	position: absolute;
    left: 0px;
    top: 0px;
}










/* -------------------------------------------------------------- */
/* recording --------------------------------------------------------------*/
/* -------------------------------------------------------------- */

.w-recording-panel-container-normal {
    all: initial;
    bottom: 12px;
    left: 12px;
    display: block;
    position: fixed;
    box-sizing: border-box;
    width: var(--recording-panel-width);
    height: var(--recording-panel-height);
    padding: var(--recording-panel-padding);
    background-color: var(--color-background);
    border-radius: var(--border-radius-normal);
    z-index: 2147483646;
    font-family: Tahoma, sans-serif !important;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .2px;
    line-height: 20px;
    box-shadow: var(--box-shadow-light-gray)
}

.w-recording-panel-advanced-container {
    all: initial;
    bottom: 12px;
    left: 12px;
    display: block;
    position: fixed;
    box-sizing: border-box;
    width: var(--recording-panel-advanced-width);
    height: var(--recording-panel-height);
    padding: var(--padding-normal) var(--padding-big);
    background-color: var(--color-background);
    border-radius: var(--border-radius-normal);
    z-index: 2147483646;
    font-family: Tahoma, sans-serif !important;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .2px;
    line-height: 20px;
}

.w-recording-panel-main-container {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
    margin:0px;
    padding:0px;
}

.recording-panel-toogle-advanced-button {
    all: initial;
    position: absolute;
    width: 30px;
    height: 80px;
    left: var(--recording-panel-width);
    top: 40px;
    background-color: var(--color-light-gray);
    border-top-right-radius: var(--border-radius-small);
    border-bottom-right-radius: var(--border-radius-small);
}

.recording-panel-toogle-advanced-button-advanced {
    all: initial;
    position: absolute;
    width: 30px;
    height: 80px;
    left: var(--recording-panel-advanced-width);
    top: 40px;
    background-color: var(--color-light-gray);
    border-top-right-radius: var(--border-radius-small);
    border-bottom-right-radius: var(--border-radius-small);
}

.verticle-text {
    all: initial;
    writing-mode: tb-rl;
    text-align: center;
}

#new-tutorial-container {
    display: flex;
    justify-content: space-between;
}

.w-button-autumn-small {
    all: initial;
    display: block;
    box-shadow: inset 0.1em 0.1em 1em 0.1em #c92d1c;
    background-color: #e74c3c;
    border-radius: 3px;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 11px;
    padding: 4px 12px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #854629;
    max-width: var(--popup-innerWidth);
}

.w-button-autumn-small:hover {
    background-color: #c0392b;
}
  
#select-action-type-select {
    all: initial;
    position: relative;
    width: 170px;
    height: 34px;
    margin-top: 20px;
    background-color: var(--color-background);
    text-align: center;
    white-space: nowrap;
    padding: var(--padding-normal);
    box-sizing: border-box;
    border-bottom: var(--color-dark-gray) solid 1px;
}
  
/* .textarea{
    all: initial;
    height: 50px;
    padding: 5px;
    font-size: 16px;
    border-width: 1px;
    border-color: #c0392b;
    background-color: #FFFFFF;
    color: #000000;
    box-shadow: 0px 0px 2px rgba(255, 27, 27, 0.75);
} */

#w-recording-panel-basic-upper-header {
    position: relative;
    height: 50px;
    max-width: var(--recording-panel-innner-width);
    border: none;
    box-shadow: none;
    background-color: transparent;
}

#w-recording-panel-is-recording-switch-container {
    height: 50px;
    width: 170px;
    margin-top: 10px;
}

#is-highlighting-indicator {
    all: initial;
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 8px;
    top: 4px;
    left: 0px;
}

#is-recording-switch-label {
    all: initial;
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 34px;
    cursor: pointer;
    top: 8px;
    right: 2px;
  }
  
#is-recording-switch-label input { 
    all: initial;
    opacity: 0;
    width: 0;
    height: 0;
    cursor: pointer;
  }
  
#is-recording-switch-slider {
    all: initial;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    transition: .4s;
    border-radius: 34px;
}
  
#is-recording-switch-slider:before {
    all: initial;
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--color-light-gray);
    transition: .4s;
    border-radius: 50%;
    cursor: pointer;
}
  
#highlight-switch:checked + #is-recording-switch-slider {
    background-color: var(--color-dark-gray);
    cursor: pointer;
  }
  
#highlight-switch:focus + #is-recording-switch-slider {
    cursor: pointer;
  }
  
#highlight-switch:checked + #is-recording-switch-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    cursor: pointer;
}
#w-recording-panel-basic-upper-container {
    width: var(--recording-panel-innner-width);
    display: block;
}


#w-recording-panel-more-options-container {
    
}

#w-recording-panel-more-options-button {
    cursor: pointer;
    margin-left: 3px;
    padding-top: 12px;
}

#w-recording-panel-more-options-inputs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: flex-start;
    align-content: flex-start;
    width: var(--recording-panel-innner-width);
    
}

#w-recording-panel-more-options-button {
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
}

/* Material Textfield */
.w-material-input-container{
    margin-top: 12px;
    max-height: 100px;
}

.w-material-input{
    border: none !important;
}

.w-horizontal-container {
    position: relative;
    display: flex;
    
}

.w-horizontal-item-container {
    position: relative;
    display: inline-flex;
    flex: 1;
}


.w-horizontal-scroll-container {
    border-radius: var(--border-radius-normal);
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 2px;
    box-sizing: border-box;
}

.w-horizontal-scroll-item-container {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.w-horizontal-scroll-container::-webkit-scrollbar {
    display: none;
}

#w-recording-panel-basic-selected-container {
    margin-top: 12px;
    width: var(--recording-panel-innner-width);
    height: 30px;
}

.selected-item-path-container {
    height: 22px;
    width: 120px;
    margin: 2px;
}

.selected-item-path-input {
    all: initial;
    height: 100%;
    width: 100px;
    background-color: var(--color-background);
    box-sizing: border-box;
    border-bottom: 1px solid var(--color-dark-gray);
    padding: var(--padding-small);
}

.selected-item-path-delete {
    all: initial;
    position: absolute;
    right: 1px;
    top: 0;
    height: 20px;
    width: 20px;
    background-color: var(--color-background);
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    text-align: center;
    color: var(--color-dark-gray);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.w-horizontal-scroll-item-next-indicator-container {
    position: relative;
    width: 10px;
    height: 100%;
}

.w-horizontal-scroll-item-next-indicator{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 8px;
    border-color: transparent transparent transparent var(--color-dark-gray);
}

#w-recording-panel-step-options-container {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 2px;
    box-sizing: border-box;
    width: fit-content;
    margin-top: 12px;
    width: var(--recording-panel-innner-width);
    height: 60px;
}


#w-recording-panel-basic-table-container {
    position: relative;
    margin-top: 12px;
    width: var(--recording-panel-innner-width);
    height: 30px;
}

#use-anything-in-table-chcker {
    position: relative;
    top: 3px;
    left: 3px;
    height: 20px;
    width: 20px;
    border-radius: 3px;
    margin-right: 3px;
    padding: 0px;
    cursor: pointer;
}



#w-recording-panel-basic-steps-container {
    position: relative;
    margin-top: 12px;
    width: var(--recording-panel-innner-width);
    height: fit-content;
}

.w-recording-panel-steps-section-container {
    height: fit-content;
    width: fit-content;
    border: 0;
    border-radius: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 2px 0px;
    box-sizing: border-box;
    white-space:normal;
}

.w-recording-panel-steps-in-section-container {
    
}

.w-recording-panel-steps-page-indicator-container {
    width: 80px;
    max-height: 18px;
    text-align: center;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    cursor: text;
}

.w-recording-panel-steps-page-indicator-container::-webkit-scrollbar {
    display: none;
}

.w-recording-panel-steps-step-indicator-container {
    border: 0;
    width: fit-content;
    height: fit-content;
    box-shadow: none;
    background-color: transparent;
}


.step-option-snapshot-container {
    height: 50px;
    width: 50px;
    margin-right: 10px;
    background-color: var(--color-light-gray);
    hyphens: auto;
    white-space: normal;
    word-wrap: break-word;
    overflow-y: auto;
    overflow-x: hidden;
    padding: var(--padding-normal);
    border-radius: var(--border-radius-normal);
    box-sizing: border-box;
    cursor: pointer;
}

.step-snapshot-container {
    height: 100px;
    width: 80px;
    background-color: white;
    border: 2px solid var(--color-dark-gray);
    white-space: normal;
    overflow-y: auto;
    overflow-x: hidden;
    hyphens: auto;
    padding: var(--padding-normal);
    border-radius: var(--border-radius-normal);
    box-sizing: border-box;
    cursor: pointer;
    /* box-shadow: var(--box-shadow-inset-gray); */
}

.step-snapshot-name-label {
    cursor: pointer;
}

.next-step-button-round-container {
    height: 100%;
    width: 36px;
    display: inline-flex;
    justify-content: center;
}


/* simple round add button */
.w-round-button {
    position: relative;
    border: none;
    background:linear-gradient(to bottom, var(--color-light-gray) 5%, var(--color-dark-gray) 100%);
    background-color:var(--color-light-gray);
    border-radius: 18px;
    height: 36px;
    width: 36px;
    box-sizing: border-box;
    margin: auto;
    cursor: pointer;
    display: flex;
    justify-content: center;
}
.w-round-button:hover {
    background:var(--color-light-gray)
}


.w-round-button div {
    position: relative;
    display: inline-block;
    margin: auto;
    width: 12px;
    height: 12px;
    cursor: pointer;
}
.w-round-button div:before, .w-round-button div:after {
    position: absolute;
    left: 5px;
    content: ' ';
    height: 12px;
    width: 1.5px;
    background-color: white;
}
.w-round-button div:before {
    transform: rotate(90deg);
}
.w-round-button div:after {
    transform: rotate(0deg);
}

/* Advanced recording */
.recording-panel-advanced-section-container {
    position: absolute;
    left: 400px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    overflow: auto;
    margin:0px;
    padding:0px;
}

.w-recording-panel-advanced-steps-container {
    position: relative;
    margin-top: 12px;
    width: var(--recording-panel-innner-width);
    height: 80px;
    box-sizing: border-box;
    padding: 3px;
}

.w-recording-advanced-panel-steps-section-container {
    height: 72px;
    width: fit-content;
    border: 0;
    border-radius: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 2px 0px;
    box-sizing: border-box;
    background-color: transparent;
}

#w-recording-panel-basic-buttons-container {
    display: flex;
    justify-content: space-between
}

#w-dialog-container {
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    z-index: var(--zIndexHighest);
}
