:root {
    --color-background-opaque: rgba(255,165,0,1);
    --color-background: rgba(255,165,0,0.8);
    --color-background-light: rgba(255,165,0,0.8);
    --color-items: #e74c3c;
    --color-items-darker: #c92d1c;
    --color-shadow-field: rgba(238, 114, 31, 0.5);
    --inset-shadow-field: inset 0px 0px 10px 2px var(--color-shadow-field);

    --padding-small: 3px;
    --padding-normal: 8px;
    --padding-big: 12px;

    --border-radius-x-small: 2px;
    --border-radius-small: 3px;
    --border-radius-normal: 6px;

    --popup-width: 200px;
    --popup-innerWidth: calc(var(--popup-width) - 2 * var(var(--padding-normal)));
    --popup-header-height: 32px;
    --close-button-transition-duration-opacity: 0.3s;
    --close-button-transition-duration-rotation: 0.6s;
    --close-button-transition: transform var(--close-button-transition-duration-rotation) ease, opacity var(--close-button-transition-duration-opacity) linear;

    --recording-panel-width: 400px;
    --recording-panel-height: 300px;

    --recording-panel-advanced-width: 800px;
}

.w-button-normal {
    all: initial;
    display: block;
    box-shadow: inset 0.1em 0.1em 1em 0.1em var(--color-items-darker);
    background-color: var(--color-items);
    border-radius: var(--border-radius-normal);
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 14px;
    padding: 12px 18px;
    margin: 6px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #854629;
    max-width: var(--popup-innerWidth);
}

.w-button-normal:hover {
    all: initial;
    display: block;
    box-shadow: inset 0.1em 0.1em 1em 0.1em var(--color-items-darker);
    border-radius: var(--border-radius-normal);
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 14px;
    padding: 12px 18px;
    margin: 6px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #854629;
    background-color: #c0392b;
}

.w-highlight-instruction-window {
    all: initial;
    position: fixed;
    max-width: 300px;
    padding: var(--padding-big);
    background-color: rgba(255,165,0,0.4);
    border-radius: 6px;
    z-index: 2147483647;
    font-family: sans-serif;
}

.w-highlight-box.w-highlight-box-specifier {
    box-shadow: 0px 0px 3px 6px rgba(255, 203, 42, 1);
    border: 2px solid rgba(246, 131, 11, 0.5);
    z-index: 2147483647;
}

#w-suggestion-popup {
    all: initial;
    top: 12px;
    left: 0px;
    display: block;
    position: fixed;
    width: var(--popup-width);
    height: 40px;
    padding: var(--padding-normal);
    background-color: var(--color-background);
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    z-index: 2147483647;
}

.w-main-popup {
    all: initial;
    top: 12px;
    left: 12px;
    display: block;
    position: fixed;
    width: var(--popup-width);
    height: 300px;
    padding: var(--padding-normal);
    background-color: var(--color-background);
    border-radius: 6px;
    z-index: 2147483647;
}

.w-popup-collapsed {
    all: initial;
    top: 12px;
    left: 12px;
    width: var(--popup-width);
    height: calc(var(--popup-header-height) + 2 * var(--padding-normal));
    display: block;
    position: fixed;
    padding: var(--padding-normal);
    background-color: var(--color-background);
    border-radius: 6px;
    z-index: 2147483647;
}

.w-header {
    all: initial;
    position: relative;
    display: block;
    width: var(--popup-innerWidth);
    height: var(--popup-header-height);
    padding: var(--padding-small);
}

.w-close-button {
    all: initial;
    position: absolute;
    right: 0px;
    width: calc(var(--popup-header-height) - 2* var(--padding-small));
    height: calc(var(--popup-header-height) - 2* var(--padding-small));
    opacity: 0.3;
    cursor: pointer;
    transition: var(--close-button-transition);
}
  
.w-close-button:before, .w-close-button:after {
    all: initial;
    position: absolute;
    left: calc((var(--popup-header-height) - 2* var(--padding-small)) / 2);
    content: ' ';
    height: calc(var(--popup-header-height) - 2* var(--padding-small));
    width: 2px;
    background-color: #333;
    transition: var(--close-button-transition);
}
.w-close-button:before {
    transform: rotate(45deg);
}
.w-close-button:after {
    transform: rotate(-45deg);
}
.w-close-button:hover {
    opacity: 0.7;
}


.w-close-button-collapsed {
    all: initial;
    position: absolute;
    right: 0px;
    width: calc(var(--popup-header-height) - 2* var(--padding-small));
    height: calc(var(--popup-header-height) - 2* var(--padding-small));
    opacity: 0.3;
    cursor: pointer;
    transition: var(--close-button-transition);
}
.w-close-button-collapsed:before, .w-close-button-collapsed:after {
    position: absolute;
    left: calc((var(--popup-header-height) - 2* var(--padding-small)) / 2);
    content: ' ';
    height: calc(var(--popup-header-height) - 2* var(--padding-small));
    width: 2px;
    background-color: #333;
    transition: var(--close-button-transition);
}
.w-close-button-collapsed:before {
    transform: rotate(90deg);
}
.w-close-button-collapsed:after {
    transform: rotate(0deg);
}
.w-close-button-collapsed:hover {
    opacity: 0.7;
}

  
.w-popup-draggable {
    all: initial;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-radius: 6px;
    z-index: -1;
}

#w-automation-speed-slider {
    display: block;
    position: absolute;
    bottom: 6px;
    left: 6px;
    right: 6px;
    padding: 6px 6px 6px 6px;
    width: var(--popup-innerWidth);
    height: 25px;
    background: #d3d3d3;
    outline: none;
    transition: opacity .2s;
}

.w-wrong-page-redirect-button {
    all: initial;
    display: block;
    max-width: var(--popup-innerWidth);
    overflow-wrap: break-word;
    color: black;
    margin-top: 20px;
    padding: 6px;
    line-height: normal;
}

/* -------------------------------------------------------------- */
/* recording --------------------------------------------------------------*/
/* -------------------------------------------------------------- */

.w-recording-panel-container {
    all: initial;
    bottom: 12px;
    left: 12px;
    display: block;
    position: fixed;
    box-sizing: border-box;
    width: var(--recording-panel-width);
    height: var(--recording-panel-height);
    padding: var(--padding-normal) var(--padding-big);
    background-color: var(--color-background);
    border-radius: var(--border-radius-normal);
    z-index: 2147483647;
    font-family: Tahoma, sans-serif;
    font-style: italic;
    font-size: small;
    font-weight: lighter;
}

.w-recording-panel-advanced-container {
    all: initial;
    bottom: 12px;
    left: 12px;
    display: block;
    position: fixed;
    box-sizing: border-box;
    width: var(--recording-panel-advanced-width);
    height: var(--recording-panel-height);
    padding: var(--padding-normal) var(--padding-big);
    background-color: var(--color-background);
    border-radius: var(--border-radius-normal);
    z-index: 2147483647;
    font-family: Tahoma, sans-serif;
    font-style: italic;
    font-size: small;
    font-weight: lighter;
}

.w-recording-panel-main-container {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
    margin:0px;
    padding:0px;
}

.recording-panel-toogle-advanced-button {
    all: initial;
    position: absolute;
    width: 30px;
    height: 80px;
    left: var(--recording-panel-width);
    top: 40px;
    background-color: var(--color-background-opaque);
    border-top-right-radius: var(--border-radius-small);
    border-bottom-right-radius: var(--border-radius-small);
}

.recording-panel-toogle-advanced-button-advanced {
    all: initial;
    position: absolute;
    width: 30px;
    height: 80px;
    left: var(--recording-panel-advanced-width);
    top: 40px;
    background-color: var(--color-background-opaque);
    border-top-right-radius: var(--border-radius-small);
    border-bottom-right-radius: var(--border-radius-small);
}

.verticle-text {
    all: initial;
    writing-mode: tb-rl;
    text-align: center;
}

#new-tutorial-container {
    display: flex;
    justify-content: space-between;
}

.w-container {
    position: relative;
    padding: var(--padding-normal);
}

.w-button-small {
    all: initial;
    display: block;
    box-shadow: inset 0.1em 0.1em 1em 0.1em #c92d1c;
    background-color: #e74c3c;
    border-radius: 3px;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 11px;
    padding: 4px 12px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #854629;
    max-width: var(--popup-innerWidth);
}

.w-button-small:hover {
    background-color: #c0392b;
}
  
#select-action-type-select {
    all: initial;
    position: relative;
    width: 170px;
    height: 34px;
    border-radius: var(--border-radius-normal);
    background-color: var(--color-background-light);
    text-align: center;
    white-space: nowrap;
    padding: var(--padding-normal);
    box-sizing: border-box;
    box-shadow: var(--inset-shadow-field);
    font-family: Tahoma, sans-serif;
    font-style: italic;
    font-size: small;
    font-weight: lighter;
}
  
.textarea{
    all: initial;
    height: 50px;
    padding: 5px;
    font-size: 16px;
    border-width: 1px;
    border-color: #c0392b;
    background-color: #FFFFFF;
    color: #000000;
    box-shadow: 0px 0px 2px rgba(255, 27, 27, 0.75);
}

#w-recording-panel-basic-upper-header {
    position: relative;
    height: 50px;
    max-width: 376px;
    border: none;
    box-shadow: none;
    background-color: transparent;
}

#w-recording-panel-is-recording-switch-container {
    height: 50px;
    width: 170px;
}

#is-recording-indicator {
    all: initial;
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 8px;
    top: 0px;
    left: 6px;
    font-family: Tahoma, sans-serif;
    font-style: italic;
    font-size: small;
    font-weight: lighter;
}

#is-recording-switch-label {
    all: initial;
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 34px;
    cursor: pointer;
    top: 8px;
    right: 6px;
  }
  
#is-recording-switch-label input { 
    all: initial;
    opacity: 0;
    width: 0;
    height: 0;
    cursor: pointer;
  }
  
#is-recording-switch-slider {
    all: initial;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-background-light);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
    box-shadow: var(--inset-shadow-field);
}
  
#is-recording-switch-slider:before {
    all: initial;
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--color-items);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
    cursor: pointer;
}
  
#record-tutorial-switch:checked + #is-recording-switch-slider {
    background-color: var(--color-shadow-field);
    cursor: pointer;
  }
  
#record-tutorial-switch:focus + #is-recording-switch-slider {
    box-shadow: var(--inset-shadow-field);
    cursor: pointer;
  }
  
#record-tutorial-switch:checked + #is-recording-switch-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    cursor: pointer;
}
#w-recording-panel-basic-upper-container {
    max-height: 188px;
    width: 376px;
}

#w-recording-panel-basic-upper-content-container {
    all: initial;
    height: 138px;
    width: 376px;
}

#w-recording-panel-basic-upper-left {
    height: 138px;
    width: fit-content;
    padding: var(--padding-small);
}

#w-recording-panel-basic-upper-right {
    height: 138px;
    width: fit-content;
    padding: var(--padding-small);
}


/* Material Textfield */
.w-material-input-container{
    position: relative;
    width: 170px;
    padding-top: 12px;
    font-family: Tahoma, sans-serif;
    font-style: italic;
    font-size: small;
    font-weight: lighter;
}
.w-material-input{
    height: 30px;
    width: 100%;
    border: 0px solid var(--color-items);
    border-radius: var(--border-radius-normal);
    box-sizing: border-box;
    background-color: var(--color-background-light);
    box-shadow: var(--inset-shadow-field);
}
.w-material-input:focus{
    outline: none;
}
.w-material-input:focus + .w-material-input-placeholder-text .w-material-input-text, :not(input[value=""]) + .w-material-input-placeholder-text .w-material-input-text{
    background-color: transparent;
    font-size: 10px;
    color: var(--color-items-darker);
    transform: translate(0, -180%);
}
.w-material-input:focus + .w-material-input-placeholder-text .w-material-input-text{
    border-color: var(--color-items-darker);
    color: var(--color-items-darker);
}
.w-material-input-placeholder-text{
    position: absolute;
    top: 10px;
    bottom: 0px;
    left: 0;
    right: 0;
    border: 3px solid transparent;
    background-color: transparent;
    pointer-events: none;
    display: flex;
    align-items: center;
}
.w-material-input-text{
    font-size: 14px;
    padding: 0px 6px;
    background-color: transparent;
    transform: translate(0);
    color: var(--color-items-darker);
    white-space: nowrap;
    overflow: hidden;
    transition: transform 0.15s ease-out, font-size 0.15s ease-out, background-color 0.2s ease-out, color 0.15s ease-out;
}
.w-material-input, .w-material-input-placeholder-text{
    font-size: 14px;
    padding: 0px 6px;
}



.w-horizontal-scroll-container {
    border: 0px solid var(--color-items);
    background-color: var(--color-background-light);
    border-radius: var(--border-radius-normal);
    box-shadow: var(--inset-shadow-field);
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 2px;
    box-sizing: border-box;
}

.w-horizontal-scroll-item-container {
    all: initial;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.w-horizontal-scroll-container::-webkit-scrollbar {
    display: none;
}

#w-recording-panel-basic-selected-container {
    margin-top: 12px;
    width: 376px;
    height: 30px;
}

.selected-item-path-container {
    height: 22px;
    width: 120px;
    margin: 2px;
}



.selected-item-path-input {
    all: initial;
    height: 100%;
    width: 100px;
    border: 1px solid var(--color-items);
    border-radius: 3px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #ffe882;
    box-sizing: border-box;
    padding: var(--padding-small);
}

.selected-item-path-delete {
    all: initial;
    position: absolute;
    right: 1px;
    top: 0;
    height: 20px;
    width: 20px;
    border: 1px solid var(--color-items);
    border-radius: 3px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: var(--color-background-opaque);
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    text-align: center;
}

.selected-item-path-delete:hover {
    background-color: var(--color-items);
}

.w-horizontal-scroll-item-next-indicator-container {
    position: relative;
    width: 10px;
    height: 100%;
}

.w-horizontal-scroll-item-next-indicator{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 8px;
    border-color: transparent transparent transparent var(--color-items-darker);
}


#w-recording-panel-basic-table-container {
    position: relative;
    margin-top: 12px;
    width: 376px;
    height: 30px;
}

#w-recording-panel-basic-steps-container {
    position: relative;
    margin-top: 12px;
    width: 376px;
    height: 100px;
}

.w-recording-panel-steps-section-container {
    height: 92px;
    width: fit-content;
    border: 0;
    border-radius: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 2px 0px;
    box-sizing: border-box;
    white-space:normal;
}

.w-recording-panel-steps-in-section-container {
    
}

.w-recording-panel-steps-page-indicator-container {
    width: 100%;
    height: 18px;
    text-align: center;
}

.w-recording-panel-steps-step-indicator-container {
    border: 0;
    width: fit-content;
    height: 74px;
    box-shadow: none;
    background-color: transparent;
}



.step-snapshot-container {
    height: 70px;
    width: 60px;
    background-color: var(--color-items);
    white-space:normal;
    padding: var(--padding-normal);
    border-radius: var(--border-radius-small);box-sizing: border-box;
    font-family: Tahoma, sans-serif;
    font-style: normal;
    font-size: small;
    font-weight: lighter;
    cursor: pointer;
}

.next-step-button-round-container {
    position: relative;
    height: 100%;
    width: 36px;
}


/* simple round add button */
.w-round-button {
    all: initial;
    position: absolute;
    top: 38px;
    right: 0px;
    border: none;
    background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
    background-color:#d0451b;
    border-radius: 18px;
    color:#ffffff;
    font-size:18px;
    text-decoration:none;
    height: 36px;
    width: 36px;
    box-sizing: border-box;
    text-align: center;
}
.w-round-button:hover {
    background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
    background-color:#bc3315;
}
.w-round-button:active {
    position:relative;
    top:1px;
}



/* Advanced recording */
.recording-panel-advanced-section-container {
    position: absolute;
    left: 400px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    overflow: auto;
    margin:0px;
    padding:0px;
}

.w-recording-panel-advanced-steps-container {
    position: relative;
    margin-top: 12px;
    width: 376px;
    height: 80px;
    box-sizing: border-box;
    padding: 3px;
}

.w-recording-advanced-panel-steps-section-container {
    height: 72px;
    width: fit-content;
    border: 0;
    border-radius: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 2px 0px;
    box-sizing: border-box;
}